.zuo:hover{ background-color:#FFF; border:#000 1px solid; height:31px}
#bigdiv{width:100%;height:2000px;}
#arr{width:300px;height:20px}
#ar{width:350px;height:30px;float:left;margin-left: 50px}
#liebiao{
    /*height:100px;*/
    /*background-color:#cccccc;*/
    padding: 10px;
}
/*.small{
    display: inline;
    width: 15%;
    height: 100px;
    float: left;
    margin-left:146px;
    padding-top: 40px
}*/
.small:hover{background-color:#CCCCCC }
#bigdiv{width:100%;height:2000px}
.ll{font-size: 18px}
/*#xx{width:1300px;height:30px;margin-left:20px}*/
#sobtn{width:60px;height:30px;background-color: #A9FACD}
.mo{width:1500px;height:32px}
.desr{font-size: 15px}