<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.withmycar.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.qf.withmycar.pojo.Tag">

        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="is_deleted" jdbcType="TINYINT"/>
        <result column="create_time" property="create_time" jdbcType="INTEGER"/>
        <result column="last_update_time" property="last_update_time" jdbcType="INTEGER"/>
        <result column="click_count" property="click_count" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, is_deleted, create_time, last_update_time, click_count, type
  </sql>
    <select id="selectUserTagByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT t.* from member_tag mt,tag t
    where mt.tag_id=t.id
    and mt.member_id=#{userId}
--     AND t.is_deleted=0
  </select>

    <select id="selectTagXiTong" resultType="com.qf.withmycar.vo.TagVo">
       select t.id id, t.name namee, t.click_count clickCount from tag t where t.type=0
  </select>

    <select id="selectTagYongHu" resultType="com.qf.withmycar.vo.TagVo">
        select t.id id, t.name namee, t.click_count clickCount from tag t where t.type=1
  </select>

    <select id="selectId" parameterType="Integer" resultType="Integer">
        select type from tag where id=#{id,jdbcType=INTEGER}
    </select>
    <!--修改状态-->
    <update id="updateId" parameterType="Integer">
        update tag is_deleted=#{isdeleted,jdbcType=INTEGER} where id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateTag" parameterType="com.qf.withmycar.pojo.Tag">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update tag
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted != null">
                is_deleted = #{is_deleted,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=DATE},
            </if>
            <if test="last_update_time != null">
                last_update_time = #{last_update_time,jdbcType=DATE},
            </if>
            <if test="click_count != null">
                click_count = #{click_count,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="addTag" parameterType="com.qf.withmycar.pojo.Tag">
        <!--
     WARNING - @mbggenerated
     This element is automatically generated by MyBatis Generator, do not modify.
   -->
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="is_deleted != null">
                is_deleted,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="last_update_time != null">
                last_update_time,
            </if>
            <if test="click_count != null">
                click_count,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="is_deleted != null">
                #{is_deleted,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=DATE},
            </if>
            <if test="last_update_time != null">
                #{last_update_time,jdbcType=DATE},
            </if>
            <if test="click_count != null">
                #{click_count,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="deleteTag" parameterType="Integer">
        delete from tag where id=#{id,jdbcType=INTEGER}
    </delete>

    <select id="selectName" resultType="String" parameterType="String">
       select name from tag where name=#{name}
  </select>

    <select id="selectTagMoHu" parameterType="String" resultType="com.qf.withmycar.vo.TagVo">
        select t.id id, t.name namee, t.click_count clickCount
        from tag t
        where t.type=0
        and
        t.name like CONCAT('%', #{namee}, '%')
    </select>

</mapper>