<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>资讯详情</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-2"><img src="img/fanhui.png" style="width:100%;"></div>
			<div class="col-xs-5">
				<span style="font-size: 25px; color: #FFFFFF;">资讯详情</span>
			</div>
			<div class="col-xs-5">
				<!--点赞-->
				<button type="button" class="btn dropdown-toggle glyphicon glyphicon-thumbs-up" style="background-color: #FF6F29; border-color: #FF6F29;"  >
					  </button>
				<!--收藏-->
				<button type="button" class="btn dropdown-toggle glyphicon glyphicon-heart" style="background-color: #FF6F29; border-color: #FF6F29;"  >
					  </button>
			</div>
		</div>
		<!--<hr style="margin: 1px;"/>-->
		<div>
			<div class="row">
			  <div class="col-xs-12" style="padding-left: 30px;">
			  		<h3>标题</h3>
			  </div>
			</div>
			<div class="row" style="padding-left: 30px;">
				  <div class="col-xs-4" >
				  		来源：易车网
				  </div>
				  <div class="col-xs-4" >
				  		2019-4-17
				  </div>
				  <div class="col-xs-4" >
				  		作者：无名
				  </div>
			</div>
			<div class="row" style="padding: 20px;">
				  <div class="col-xs-12" >
				  		4月16日，全新奥迪Q3于上海车展正式上市，售价27.18-35.98万元。新车基于MQB平台打造，提供S-line和普通版两种外观风格，整体造型动感十足，相比老款车型变化较大。动力方面，全新Q3将提供1.4T、2.0T低功率、2.0T高功率三种动力版本的车型。
				  </div>
				  <div class="col-xs-12" >
				  	<img src="img/Peng_2019-04-08_205602.png" style="width:100%;"/>
				  </div>
				  <div class="col-xs-12" >
				  	<p>外观：时尚运动风 一改往日圆润造型</p>	
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;全新奥迪Q3的外观相比老款车型有了较大的改变，变得更加时尚运动，不复老款车型的圆润风格，更加符合现在年轻人的审美标准。此外，新车将提供S-line和普通版两种外观风格，其中S-line车型更具运动风格。
				  	</p>
				  	<p>
						&nbsp;&nbsp;&nbsp;&nbsp;全新奥迪Q3的外观相比老款车型有了较大的改变，变得更加时尚运动，不复老款车型的圆润风格，更加符合现在年轻人的审美标准。此外，新车将提供S-line和普通版两种外观风格，其中S-line车型更具运动风格。
				  	</p>
				  </div>
			</div>
		</div>
		
		
	</body>
</html>
