<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>标签</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-5">
				<span style="font-size: 25px; color: #FFFFFF;">标签</span>
			</div>
			<div class="col-xs-4">
				<span style="font-size: 20px; color: #FFFFFF;">保存</span>
			</div>
		</div>
		<div class="row" style="height: 50px; background-color: #F0F0F0; line-height: 48px;">
			  <div class="col-xs-6" style="text-align: left; padding-left: 30px;">我的标签</div>
			  <div class="col-xs-6">点击标签删除</div>
		</div>
		<div class="row" style="height: 100px; ">
			  <div class="col-xs-12">
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
			  </div>
		</div>
		<div class="row" style="height: 50px; background-color: #F0F0F0; line-height: 48px;">
			  <div class="col-xs-6" style="text-align: left; padding-left: 30px;">标签库</div>
			  <div class="col-xs-6">点击添加到我的标签</div>
		</div>
		<div class="row" style="height: 100px; ">
			  <div class="col-xs-12">
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
					<button class="btn btn-default" type="button" value="Input">SUV</button>
			  </div>
		</div>
		<div class="row" style="height: 30px; background-color: #F0F0F0;"></div>
		<div class="row" style="height: 50px; ">
			  <div class="col-xs-12" id="addlabel">
					<button type="button" id="qwe" class="btn btn-default btn-lg" onclick="addlabels()" style="width: 100%; border: 0px; text-align: left;">自定义添加</button>
			  </div>
		</div>
		<div class="row" style="height: 240px; background-color: #F0F0F0;"></div>
		<script>
		sosotrue = false ;
		function addlabels(){
			$("addlabel").empty();
			sosotrue=!sosotrue;
			if(sosotrue){
				$("#qwe").html("<div class=\"col-xs-12\"><input type='text' class=\"form-control\"/><button class=\"btn btn-default\" type=\"button\">保存</button></div>")
			}
		}
		</script>
	</body>
</html>
