<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>消息详情</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout"  style="background-color:#F0F0F0">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-6">
				<span style="font-size: 25px; color: #FFFFFF;">消息</span>
			</div>
			<div class="col-xs-3">
				<div class="btn-group">
					  <button type="button" class="btn dropdown-toggle" style="background-color: #FF6F29; border-color: #FF6F29;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="img/shezhi.png">
					  </button>
					  <ul class="dropdown-menu" >
						<li><a href="/">首页</a></li>
						<li><a href="#">我的</a></li>
						<li><a href="#">消息</a></li>
						<li><a href="/cardiscounts">新车优惠</a></li>
						<li><a href="/selectbrand">伴我选车</a></li>
					  </ul>
				</div>
			</div>
		</div>
		
		<div class="row" style="padding: 20px;">
			<div class="col-xs-12" style="text-align: center;">
				<h3>系统通知</h3>
			</div>
			<div class="col-xs-12">
				<p>4月16日，锐界ST于2019上海车展福特品牌发布会上亮相，锐界ST是福特专为中国市场打造的全新性能版七座SUV，新车延续了福特ST设计理念，外观和内饰在设计上极具运动感</p>
			</div>
			<div class="col-xs-12">
				<img src="img/Peng_2019-04-08_202540.png" style="width: 100%;" />
			</div>
			<div class="col-xs-12">
				<p>4月16日，锐界ST于2019上海车展福特品牌发布会上亮相，锐界ST是福特专为中国市场打造的全新性能版七座SUV，新车延续了福特ST设计理念，外观和内饰在设计上极具运动感</p>
				<p>外观方面，福特锐界ST前脸造型更加运动，全新多边形熏黑前进气格栅内部十分精致。新车前保险杠造型也经过了升级，针对前雾灯造型以及雾灯周围进行了调整，整个前脸造型极具攻击性。尾灯采用新的分段式设计，搭配有LED灯带，夜晚亮起后辨识度极高。</p>
			</div>
		</div>		
	</body>
</html>
