<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>消息</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout"  style="background-color:#F0F0F0">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-6">
				<span style="font-size: 25px; color: #FFFFFF;">消息</span>
			</div>
			<div class="col-xs-3">
				<div class="btn-group">
					  <button type="button" class="btn dropdown-toggle" style="background-color: #FF6F29; border-color: #FF6F29;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="img/shezhi.png">
					  </button>
					  <ul class="dropdown-menu" >
						<li><a href="/">首页</a></li>
						<li><a href="#">我的</a></li>
						<li><a href="#">消息</a></li>
						<li><a href="/cardiscounts">新车优惠</a></li>
						<li><a href="/selectbrand">伴我选车</a></li>
					  </ul>
				</div>
			</div>
		</div>
		
		<div class="row" >
			<div class="col-xs-12" style="margin-top: 20px; margin-bottom: 10px;text-align: center;">
				<span style="background-color: #CCCCCC; padding: 4px;">21:34</span>
			</div>
			<div class="col-xs-3" style="text-align: right;">
				<img src="img/index103.png" style="width: 50px;" />
			</div>
			<div class="col-xs-8" style="background-color: #FFFFFF; padding: 10px;"
				<span >
					镜子圆圆坐中堂，里面映出二人来．新郎左边咪咪笑，新娘右边喜洋洋．不羡天上比翼鸟，不慕水中好鸳鸯．罗花帐中百合好，夫妻恩爱地久长！<a>查看详情</a>
				</span>
			</div>
		</div>	
		
		<div class="row" >
			<div class="col-xs-12" style="margin-top: 20px; margin-bottom: 10px;text-align: center;">
				<span style="background-color: #CCCCCC; padding: 4px;">2019/4/5 21:34</span>
			</div>
			<div class="col-xs-3" style="text-align: right;">
				<img src="img/index103.png" style="width: 50px;" />
			</div>
			<div class="col-xs-8" style="background-color: #FFFFFF; padding: 10px;"
				<span >
					镜子圆圆坐中堂，里面映出二人来．新郎左边咪咪笑，新娘右边喜洋洋．不羡天上比翼鸟，不慕水中好鸳鸯．罗花帐中百合好，夫妻恩爱地久长！<a>查看详情</a>
				</span>
			</div>
		</div>	
		
		<div class="row" >
			<div class="col-xs-12" style="margin-top: 20px; margin-bottom: 10px;text-align: center;">
				<span style="background-color: #CCCCCC; padding: 4px;">21:34</span>
			</div>
			<div class="col-xs-3" style="text-align: right;">
				<img src="img/index103.png" style="width: 50px;" />
			</div>
			<div class="col-xs-8" style="background-color: #FFFFFF; padding: 10px;"
				<a href="#">
					镜子圆圆坐中堂，里面映出二人来．新郎左边咪咪笑，新娘右边喜洋洋．不羡天上比翼鸟，不慕水中好鸳鸯．罗花帐中百合好，夫妻恩爱地久长！<a>查看详情</a>
				</a>
			</div>
		</div>	
	</body>
</html>
