<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>完善标签</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/demo.css">
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
			
	<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
	</head>
	<style>
		p{
			margin: 0;
		}
		.circle{
		 background:red;
		 width:100px;
		 height:100px;
		 border-radius:50%;
		}
	</style>
	<body  class="easyui-layout" style="background-color:#F0F0F0">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-6">
				<span style="font-size: 25px; color: #FFFFFF;">选择标签</span>
			</div>
			
		</div>
		<div>
			<!--<br />-->
			<div class="row" style="background-color: #FFFFFF;padding-top: 20px;">
			  <div class="col-xs-12" style="text-align: center;">
				<form id="ff">
					<div style="margin-bottom:20px;">
						<input class="easyui-checkbox" name="fruit" value="Apple" label="SUV:">
					</div>
					<div style="margin-bottom:20px">
						<input class="easyui-checkbox" name="fruit" value="Orange" label="轿车:">
					</div>
					<div style="margin-bottom:20px">
						<input class="easyui-checkbox" name="fruit" value="Banana" label="高性能:">
					</div>
					<div style="margin-bottom:20px;">
						<input class="easyui-checkbox" name="fruit" value="Apple" label="越野:">
					</div>
					<div style="margin-bottom:20px">
						<input class="easyui-checkbox" name="fruit" value="Orange" label="静音:">
					</div>
					<div style="margin-bottom:20px">
						<input class="easyui-checkbox" name="fruit" value="Banana" label="大空间:">
					</div>
				</form>	
				

			  </div>
			</div>
		<!--	<br />-->
			<div class="row" style="height: 50px; line-height: 48px;">
			  <div class="col-xs-12" style="text-align: right;">
				<button type="button" class="btn btn-success"  style="width: 100%; height:50px">OK</button>
			  </div>
			</div>
			
		</div>
		
		
	</body>
</html>
