<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>选择车款</title>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/demo.css">
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
			
	<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout"  style="background-color:#F0F0F0">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-6">
				<span style="font-size: 25px; color: #FFFFFF;">选择车款</span>
			</div>
			<div class="col-xs-3">
				<div class="btn-group">
					  <button type="button" class="btn dropdown-toggle" style="background-color: #FF6F29; border-color: #FF6F29;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="img/shezhi.png">
					  </button>
					  <ul class="dropdown-menu" >
						<li><a href="/">首页</a></li>
						<li><a href="#">我的</a></li>
						<li><a href="#">消息</a></li>
						<li><a href="/cardiscounts">新车优惠</a></li>
						<li><a href="/selectbrand">伴我选车</a></li>
					  </ul>
				</div>
			</div>
		</div>
		<div class="row" style="background-color: #FFFFFF;">
		  <div class="col-xs-12">
<div class="easyui-layout" style=" height: 600px; width: 100%;">
    <div id="content" region="center" style="padding:0px;">
        <div id="tt" class="easyui-tabs" data-options="fit:true">
        	<!--车款-->
            <!--<div title="2016" style="background-color: #F0F0F0;">
            	<div style="width:100%;height: 50px; padding-left: 20px;">
            		<h3>2.7L/120KW</h3>
            	</div>
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>手动版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
               
               <div style="width:100%;height: 50px;padding-left: 20px;">
            		<h3>2.7L/120KW</h3>
            	</div>
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>手动版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
                <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
            </div>-->
            <!--车款-->
            <!--<div title="2019" style="background-color: #F0F0F0;">
            	&lt;!&ndash;<div style="width:100%;height: 50px; padding-left: 20px;">
            		<h3>1.5T/120KW</h3>
            	</div>&ndash;&gt;
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
               
               <div style="width:100%;height: 50px;padding-left: 20px;">
            		<h3>2.5T/120KW</h3>
            	</div>
               <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
                <button type="button" class="btn btn-default"  style="width: 100%;">
					<h3>自动豪华版</h3>
					<span>厂商指导价：</span><span style="color: red; font-size: 20px;">22.3万</span>
               </button>
            </div>-->

        </div>

    </div>
</div>
</div>

		  </div><input type="hidden" id="hiddenInput" value="" th:value="${ids}">
		</div>
		<script>
			/*车款id值*/
			var cmid = $("#hiddenInput").val();
			console.log(cmid);
			str = "";
			$.ajax({
				type:"post",
				url:"getCarModelsYearBySeriesId?seriesid="+cmid,
				async:false,
				contentType:"application/json;charset=utf-8",
				success:function (data) {
					$.each(data,function (index,element) {
						str+="<div title=\""+element+"\" style=\"background-color: #F0F0F0;\">";
						// console.log(element);
						getCarModelconfig(element);
						str+="</div>";
						$("#tt").append(str);
						str="";
					});
				},
				error:function () {
					console.log("意外错误");
				}
			})

			function getCarModelconfig(years) {
				$.ajax({
					type:"post",
					url:"getCarModelBySeriesId?seriesid="+cmid,
					async:false,
					contentType:"application/json;charset=utf-8",
					success:function (data) {
						$.each(data,function (index,element) {
							if(element.cmyear == years){
								// console.log(element);
								str+="<button type=\"button\" class=\"btn btn-default\" onclick='returncardetails("+element.cmid+")'  style=\"width: 100%;\">\n" +
										"<h3>"+element.cmname+"</h3>\n" +
										"<span>厂商指导价：</span><span style=\"color: red; font-size: 20px;\">"+element.carpcinfo+"</span>\n" +
										"</button>";
							}
						});
					},
					error:function () {
						console.log("意外错误");
					}
				})
			}

			function returncardetails(carid) {
				// console.log(carid);
				window.location.href="cardetails?carid="+carid;
			}
		</script>
	</body>
</html>
