<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>我的座驾</title>
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/demo/demo.css" />
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
</head>
<style>
	p{
		margin: 0;
	}
</style>
<body  class="easyui-layout"  style="background-color:#F0F0F0">
<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
	<div class="col-xs-3"><a href="JavaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
	<div class="col-xs-6">
		<span style="font-size: 25px; color: #FFFFFF;">我的座驾</span>
	</div>
	<div class="col-xs-3">
		<div class="btn-group">
			<button type="button" class="btn dropdown-toggle" style="background-color: #FF6F29; border-color: #FF6F29;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="img/shezhi.png">
			</button>
			<ul class="dropdown-menu" >
				<li><a href="#">首页</a></li>
				<li><a href="#">我的</a></li>
				<li><a href="#">消息</a></li>
				<li><a href="#">新车优惠</a></li>
				<li><a href="#">伴我选车</a></li>
			</ul>
		</div>
	</div>
</div>
<!--<hr style="margin: 1px;"/>-->
<div>
	<div class="row">
		<div class="col-xs-8" style="padding-left: 30px;">
			<h3>已有座驾</h3>
		</div>
		<div class="col-xs-4 form-group" style="padding-top: 20px;" id="btnedit">
			<!--<button style="border: 1px solid red; color: red;" onclick="edits()">编辑</button>-->
			<!--<button style="border: 1px solid red; color: red;">新增</button>-->
			<button type="button"  style="border: 1px solid red; color: red;"  data-toggle="modal" data-target="#myModal"  th:style="${size>=5}?'display:none':'border: 1px solid red; color: red;'"   >新增</button>
		</div>
	</div>
</div>
<hr style="margin: 0px;"/>
<div class="row" style="background-color: #FFFFFF;" th:each="mycar:${usercars}">
	<div class="col-xs-4">
		<img src="img/Peng_2019-04-08_202540.png" th:src="${mycar.picurl}" style="width: 90%; margin: 10px;"/>
	</div>
	<div class="col-xs-6" style="padding-right: 20px; padding-top: 10px;font-size: 14px " >
		<p>品牌：<span th:text="${mycar.namea}">奥迪</span></p>
		<p>子品牌：<span th:text="${mycar.facname}">一汽大众奥迪</span></p>
		<p>车系：<span th:text="${mycar.seriesname}">奥迪A4</span></p>
	</div>
	<div class="col-xs-2" style="padding-top: 40px; ">
		<button type="button" id="dels" name="dels"  th:value="${mycar.id}" style="border: 1px solid red; color: black;margin-left: -20px">删除</button>
	</div>
</div>
<hr style="margin: 0px;"/>
<div>
	<div class="row">
		<div class="col-xs-8" style="padding-left: 30px;">
			<h3>期待座驾</h3>
		</div>
		<div class="col-xs-4" style="padding-top: 20px;">
			<button type="button" style="border: 1px solid red; color: red;">新增</button>
		</div>
	</div>
</div>
<div>
	<div class="row" style="background-color: #FFFFFF;">
		<div class="col-xs-12" style="text-align: center;">
			<h3>暂无期待座驾</h3>
		</div>
	</div>
</div>

<!-- 新增Modal -->
<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel3">新增车款</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">


					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">所属品牌</label>
						<div class="col-sm-10">
							<select class="form-control" id="b2">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">所属厂商</label>
						<div class="col-sm-10">
							<select class="form-control" id="c2">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">所属车系</label>
						<div class="col-sm-10">
							<select class="form-control" id="s2">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">车款名称</label>
						<div class="col-sm-10" >
							<!--<input type="email" class="form-control" id="li" placeholder="宝马X6">-->
							<select class="form-control" id="k2"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">主类型</label>
						<div class="col-sm-10">
							<select class="form-control" id="t2">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">二级类型</label>
						<div class="col-sm-10">
							<select class="form-control" id="st2">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">购买年份</label>
						<div class="col-sm-3">
							<input type="text" maxlength="4" onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" style="width: 135px" class="form-control" id="year" placeholder="请输入年份"/><span style="line-height: 34px">年</span>
						</div>
						<!--<div class="col-sm-2">-->
						<!--<span style="line-height: 34px">年</span>-->
						<!--</div>-->
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">备注</label>
						<div class="col-sm-10" >
							<input type="text" class="form-control" id="rem"  placeholder="备注说明">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">当前里程</label>
						<div class="col-sm-10" >
							<input type="text" onkeyup="value=value.replace(/[^\d]/g,'') "onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" class="form-control" id="li" placeholder="里程数">
						</div>
					</div>

					<!--<div class="form-group">-->
					<!--<form role="form" style="" id="file" enctype="multipart/form-data">-->
					<!--<label for="inputEmail3" class="col-sm-2 control-label">车款图片</label>-->
					<!--&lt;!&ndash;<div class="col-sm-3">&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="javascript:;" class="file">选择文件&ndash;&gt;-->
					<!--&lt;!&ndash;<input type="file" name="file" id="uploadImgBtn"></a>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--<div class="col-sm-3">-->
					<!--<img id="tihuan" src="/htstatic/images/yanzhengma.png" class="img-thumbnail" style="height: 70px; width: 100px;"/>-->
					<!--</div>-->
					<!--</form>-->
					<!--</div>-->

				</form>
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="tijiao6()">保存</button>
			</div>
		</div>
	</div>
</div>
<script>
	function edits(){
		$("#btnedit").html("<button style=\"border: 1px solid red; color: red;\" onclick=\"saves()\">完成</button>");
		document.getElementsByName("dels").style.display="block";
	}
	$("button[name='dels']").click(function () {
		// alert($(this).val());
		var id=$(this).val();
		$.ajax({
			type:"POST",
			url: "removeMyCar?id="+id,
			async:false,
			// data:info,
			// contentType: "application/json; charset=utf-8",
			success:function (data) {
				window.location.href = "goUserCar";
			},
			error:function () {
				alert("错误");
			}
		});
	})
	function saves(){
		window.location.reload();
	}

	/*新增模态框*/
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').focus();
		var b2 = $("#b2").find("option:selected").val();
		var c2;
		var s2;
		var t2;
		/*厂商随品牌的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectFactoryBybrandId?brandId="+b2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#c2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.facId+"\">"+element.facName+"</option>";
					$("#c2").append(opts);
				})
				c2 = $("#c2").find("option:selected").val();
			}
		});
		/*车系随厂商的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectCarSeriesByFacId?facId="+c2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#s2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.id+"\">"+element.seriesName+"</option>";
					$("#s2").append(opts);
				})
				s2= $("#s2").find("option:selected").val();
			}
		});

		/*主类型随车系的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectTypeBySeries?id="+s2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#t2").empty();
				var opts="<option value=\""+data.tyid+"\">"+data.tyname+"</option>";
				$("#t2").append(opts);
				t2= $("#t2").find("option:selected").val();
			}
		});
		/*根据车系id 获取车款信息*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectModelBySeries?id="+s2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#k2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.cmid+"\">"+element.cmname+"</option>";
					$("#k2").append(opts);
				})
				// t2= $("#k2").find("option:selected").val();
			}
		});
		/*子类型随主类型的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectChildren?tyid="+t2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#st2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.tyid+"\">"+element.tyname+"</option>";
					$("#st2").append(opts);
				})
			}
		});
	});
	/*查询所有品牌并放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllBrands",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#b2").empty();
			var allbrand="<option value=\"\">全部</option>";
			$("#b1").append(allbrand);
			$.each(data,function (index,element) {
				var opts="<option value="+element.id+">"+element.namea+"</option>";
				$("#b2").append(opts);
			})
		}
	});
	/*查询所有类型并放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllCarTypes",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#t2").empty();
			// var alltypes="<option value=\"\">全部</option>";
			var alltypes1="<option value=\"\"></option>";
			$("#t2").append(alltypes1);
			$.each(data,function (index,element) {
				var opts="<option value="+element.tyid+">"+element.tyname+"</option>";
				$("#t2").append(opts);
			})
		}
	});
	/*查询出所有的厂商并放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllFactory",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#c3").empty();
			$.each(data,function (index,element) {
				var opts="<option value="+element.facId+">"+element.facName+"</option>";
				$("#c3").append(opts);
			})
		}
	})
	/* 查询出所有的二级类型放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllChildrenTypes",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#st3").empty();
			$.each(data,function (index,element) {
				var opts="<option value="+element.tyid+">"+element.tyname+"</option>";
				$("#st3").append(opts);
			})
		}
	})
	/*查询所有车系并放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllCarSeriesDto",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#s1").empty();
			$("#s3").empty();
			var allSeries="<option value=\"\">全部</option>";
			$("#s1").append(allSeries);
			$.each(data,function (index,element) {
				var opts="<option value="+element.id+">"+element.seriesName+"</option>";
				$("#s1").append(opts);
				$("#s3").append(opts);
			})
		}
	});
	/*查询所有车款并放入下拉框*/
	$.ajax({
		type:"post",
		url:"selectAllCarModels",
		async:false,
		contentType:"application/json;charset=utf-8",
		success:function (data) {
			$("#k2").empty();
			var allSeries="<option value=\"\">全部</option>";
			$("#s1").append(allSeries);
			$.each(data,function (index,element) {
				var opts="<option value="+element.cmid+">"+element.cmname+"</option>";
				$("#k2").append(opts);
			})
		}
	});
	/*新建框打开时  品牌的变化  ----------------------------------------------------------------------------------其他变化*/
	$("#b2").change(function(){
		var b2 = $("#b2").find("option:selected").val();
		var c2;
		var s2;
		var t2;
		/*厂商随品牌的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectFactoryBybrandId?brandId="+b2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#c2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.facId+"\">"+element.facName+"</option>";
					$("#c2").append(opts);
				})
				c2 = $("#c2").find("option:selected").val();
			}
		});
		/*车系随厂商的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectCarSeriesByFacId?facId="+c2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#s2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.id+"\">"+element.seriesName+"</option>";
					$("#s2").append(opts);
				})
				s2= $("#s2").find("option:selected").val();
			}
		});

		/*主类型随车系的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectTypeBySeries?id="+s2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#t2").empty();
				var opts="<option value=\""+data.tyid+"\">"+data.tyname+"</option>";
				$("#t2").append(opts);
				t2= $("#t2").find("option:selected").val();
			}
		});
		/*子类型随主类型的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectChildren?tyid="+t2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#st2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.tyid+"\">"+element.tyname+"</option>";
					$("#st2").append(opts);
				})
			}
		});
	});
	/*厂商变化，-----------------------------------------------------------------------------------------其他变化*/
	$("#c2").change(function(){
		var c2 = $("#c2").find("option:selected").val();
		var s2;
		var t2;
		/*车系随厂商的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectCarSeriesByFacId?facId="+c2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#s2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.id+"\">"+element.seriesName+"</option>";
					$("#s2").append(opts);
				})
				s2 = $("#s2").find("option:selected").val();
			}
		});

		/*主类型随车系的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectTypeBySeries?id="+s2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#t2").empty();
				var opts="<option value=\""+data.tyid+"\">"+data.tyname+"</option>";
				$("#t2").append(opts);
				t2= $("#t2").find("option:selected").val();
			}
		});
		/*子类型随主类型的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectChildren?tyid="+t2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#st2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.tyid+"\">"+element.tyname+"</option>";
					$("#st2").append(opts);
				})
			}
		});
	});

	/*车系变化，------------------------------------------------------------------------------------------------其他变化*/
	$("#s2").change(function(){
		var s2= $("#s2").find("option:selected").val();
		var t2;
		/*主类型随车系的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectTypeBySeries?id="+s2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#t2").empty();
				var opts="<option value=\""+data.tyid+"\">"+data.tyname+"</option>";
				$("#t2").append(opts);
				t2= $("#t2").find("option:selected").val();
			}
		});
		/*子类型随主类型的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectChildren?tyid="+t2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#st2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.tyid+"\">"+element.tyname+"</option>";
					$("#st2").append(opts);
				})
			}
		});
	});
	/*主类型变化 ------------------------------------------------------------------------------------------------ 其他变化*/
	$("#t2").change(function(){
		var t2= $("#t2").find("option:selected").val();
		/*子类型随主类型的变化而变化*/
		$.ajax({
			type:"get",
			async:false,
			url:"selectChildren?tyid="+t2,
			contentType:"application/json;charset=utf-8",
			success:function (data) {
				$("#st2").empty();
				$.each(data,function (index,element) {
					var opts="<option value=\""+element.tyid+"\">"+element.tyname+"</option>";
					$("#st2").append(opts);
				})
			}
		});
	});


	/*类型不可选*/
	$("#t2").attr("disabled","disabled").css("background-color","#EEEEEE;");
	/*新增时替换图片位置*/
	$('#uploadImgBtn').on('change', function () {
		var filePath = $(this).val();
		fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();//取后缀“.”以后的，并转大写
		src = window.URL.createObjectURL(this.files[0]);//转换成本地格式。读本地图片的方法
		if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
			alert(文件传输格式错误);
			$(this).val("");
		}
		$("#tihuan").attr('src', src);//替换图片位置
	});

	function tijiao6() {

		var brandId= $("#b2").find("option:selected").val();
		if (brandId==null||brandId==''){
			alert("品牌不能为空");
			return false;
		}
		var makeId= $("#c2").find("option:selected").val();
		if (makeId==null||makeId==''){
			alert("厂商不能为空");
			return false;
		}
		var carId= $("#k2").find("option:selected").val();
		// var cmname = $("#inputEmail3").val();
		if (carId==null||carId==''){
			alert("车款名称为不能为空");
			return false;
		}
		var modelId= $("#s2").find("option:selected").val();
		if (modelId==null||modelId==''){
			alert("车系不能为空");
			return false;
		}
		// var tyid= $("#t2").find("option:selected").val();
		// if (tyid==null||tyid==''){
		// 	alert("主类型不能为空");
		// 	return false;
		// }
		var type= $("#st2").find("option:selected").val();
		if (type==null||type==''){
			alert("子类型不能为空");
			return false;
		}
		var buyYear=$("#year").val();
		if (buyYear==null||buyYear==''){
			alert("购买时间不能为空");
			return false;
		}
		var remark=$("#rem").val();
		var currentMileage=$("#li").val();
		if (currentMileage==null||currentMileage==''){
			alert("里程不能为空");
			return false;
		}
		// var realImg = $('#uploadImgBtn')[0].files[0];
		var formData = new FormData();
		formData.append("brandId",brandId);
		formData.append("carId",carId);
		formData.append("makeId",makeId);
		formData.append("modelId",modelId);
		// formData.append("tyid",tyid);
		formData.append("type",type);
		formData.append("buyYear",buyYear);
		formData.append("remark",remark);
		formData.append("currentMileage",currentMileage);
		// formData.append("realImg",realImg);
		alert(formData);
		console.log(formData)
		$.ajax({
			type: 'post',
			url:"addUserMyCar",
			async: false,
			cache: false,
			contentType: false, //不设置内容类型
			processData: false, //不处理数据
			data:formData,
			success:function (data) {
				window.location.reload();
			}
		});
		return true;
	}
</script>
</body>
</html>
