<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>关注车型</title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	</head>
	<style>
		p{
			margin: 0;
		}
	</style>
	<body  class="easyui-layout"  style="background-color:#F0F0F0">
		<div class="row" style="background-color: #FF6F29; margin: auto;height: 50px; line-height: 46px; " align="center" >
			<div class="col-xs-3"><a href="javaScript:history.go(-1)"><img src="img/fanhui.png" style="width:50%;"></a></div>
			<div class="col-xs-6">
				<span style="font-size: 25px; color: #FFFFFF;">关注车型</span>
			</div>
			<div class="col-xs-3">
				<div class="btn-group">
					  <button type="button" class="btn dropdown-toggle" style="background-color: #FF6F29; border-color: #FF6F29;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="img/shezhi.png">
					  </button>
					  <ul class="dropdown-menu" >
						<li><a href="/">首页</a></li>
						<li><a href="#">我的</a></li>
						<li><a href="#">消息</a></li>
						<li><a href="/cardiscounts">新车优惠</a></li>
						<li><a href="/selectbrand">伴我选车</a></li>
					  </ul>
				</div>
			</div>
		</div>
		<br />
		<div class="row" style="background-color: #FFFFFF;">
			  <div class="col-xs-4">
			  	<img src="img/Peng_2019-04-08_202540.png" style="width: 90%; margin: 10px;"/>
			  </div>
			  <div class="col-xs-8" style="padding-right: 20px; padding-top: 10px;">
			  		<p><h4>奥迪</h4></p>
			  		<span>厂商指导价:</span>
			  		<span style="color: red; font-size: 20px;">18.33-20.43万</span>
			  </div>
		</div>
		<hr style="margin: 0px;"/>
		<div class="row" style="background-color: #FFFFFF;">
			  <div class="col-xs-4">
			  	<img src="img/Peng_2019-04-08_202540.png" style="width: 90%; margin: 10px;"/>
			  </div>
			  <div class="col-xs-8" style="padding-right: 20px; padding-top: 10px;">
			  		<p><h4>奥迪</h4></p>
			  		<span>厂商指导价:</span>
			  		<span style="color: red; font-size: 20px;">18.33-20.43万</span>
			  </div>
		</div>
		<hr style="margin: 0px;"/>
		<div class="row" style="background-color: #FFFFFF;">
			  <div class="col-xs-4">
			  	<img src="img/Peng_2019-04-08_202540.png" style="width: 90%; margin: 10px;"/>
			  </div>
			  <div class="col-xs-8" style="padding-right: 20px; padding-top: 10px;">
			  		<p><h4>奥迪</h4></p>
			  		<span>厂商指导价:</span>
			  		<span style="color: red; font-size: 20px;">18.33-20.43万</span>
			  </div>
		</div>
		<hr style="margin: 0px;"/>
		<div class="row" style="background-color: #FFFFFF;">
			  <div class="col-xs-4">
			  	<img src="img/Peng_2019-04-08_202540.png" style="width: 90%; margin: 10px;"/>
			  </div>
			  <div class="col-xs-8" style="padding-right: 20px; padding-top: 10px;">
			  		<p><h4>奥迪</h4></p>
			  		<span>厂商指导价:</span>
			  		<span style="color: red; font-size: 20px;">18.33-20.43万</span>
			  </div>
		</div>
		<hr style="margin: 0px;"/>
		<div class="row" style="background-color: #FFFFFF;">
			  <div class="col-xs-4">
			  	<img src="img/Peng_2019-04-08_202540.png" style="width: 90%; margin: 10px;"/>
			  </div>
			  <div class="col-xs-8" style="padding-right: 20px; padding-top: 10px;">
			  		<p><h4>奥迪</h4></p>
			  		<span>厂商指导价:</span>
			  		<span style="color: red; font-size: 20px;">18.33-20.43万</span>
			  </div>
		</div>
		
	</body>
</html>
