<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>


    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css">
    <!--<link rel="stylesheet" href="moumou/css/jquery.page.css">-->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>

    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        .left {
            float: left;
            width: 50%;
        }

        p {
            margin-bottom: 0px;
            border-bottom: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
        }

        span {
            margin-left: 5px;
        }

        .left2 {
            float: left;
        }

        ul {
            margin-bottom: 0px;
        }

        ul li {
            list-style: none;
            margin-left: -40px;
        }
    </style>
<body>
<div class="easyui-layout" style=" height: 700px; width: 100%;">
    <div id="content" region="center" style="padding:0px;">
        <div id="tt" class="easyui-tabs" data-options="fit:true">
            <div title="咨询列表" style="padding:20px;display:none;">
                <div class="form-inline" style="height: 50px;">
                    <div class="form-group">
                        <label for="exampleInputName2">&nbsp;&nbsp;点赞量:</label>
                        <input type="text" style="width: 45px" id="aa1"/>-
                        <input type="text" style="width: 45px" id="aa2"/>
                    </div>
                    <div class="form-group">
                        <label for="aa3">&nbsp;&nbsp;访问量:</label>
                        <input type="text" style="width: 45px" id="aa3"/>-
                        <input type="text" style="width: 45px" id="aa3"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">&nbsp;&nbsp;收藏量:</label>
                        <input type="text" style="width: 45px" id="aa5"/>-
                        <input type="text" style="width: 45px" id="aa6"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">&nbsp;&nbsp;时间:</label>
                        <input type="date" style="width: 130px" id="aa5"/>-
                        <input type="date" style="width: 130px" id="aa6"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3"></label>
                        <input type="text" class="form-control" style="width: 120px" id="exampleInputEmail3" placeholder="标签/来源/作者"/>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success">搜索</button>
                    </div>
                </div>
                <table class="easyui-datagrid" id="dg" style="width:100%;height:auto"
                       data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
                    <thead>
                    <tr>
                        <th data-options="field:'itemid',align:'center',resizable:false" width="5%">序号</th>
                        <th data-options="field:'productid',align:'center',resizable:false" width="18%">标题</th>
                        <th data-options="field:'listprice',align:'center',resizable:false" width="7%">来源</th>
                        <th data-options="field:'status',align:'center',resizable:false" width="7%">作者</th>
                        <th data-options="field:'aa',align:'center',resizable:false" width="15%">时间</th>
                        <th data-options="field:'stcatus',align:'center',resizable:false" width="8%">点赞量</th>
                        <th data-options="field:'stsaatus',align:'center',resizable:false" width="8%">转发量</th>
                        <th data-options="field:'staaatus',align:'center',resizable:false" width="8%">访问量</th>
                        <th data-options="field:'stasdsatus',align:'center',resizable:false" width="8%"> 收藏</th>
                        <th data-options="field:'statsaus',align:'center',resizable:false" width="9%">提交人</th>
                        <th data-options="field:'statsaaus',align:'center',resizable:false" width="9%">审核人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="http://baidu.com">a</a></td>
                        <td>a</td>
                        <td>vv</td>
                        <td>dd</td>
                        <td>eee</td>
                        <td>ewe</td>
                        <td>wew</td>
                        <td>wewe</td>
                        <td>ewdewa</td>
                        <td>超级管理员</td>
                        <td>超级管理员</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="http://baidu.com">a</a></td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>超级管理员</td>
                        <td>超级管理员</td>
                    </tr>
                    </tbody>
                </table>
                <div class="easyui-pagination" data-options="
					total: 50,
                    pagesize: 10,
					showPageList: false,
					showRefresh: false,
					displayMsg: ''
				">
                </div>
            </div>
            <div title="咨询标签定义" style="padding:20px;display:none;">
                <table class="easyui-datagrid" id="dg" style="width:100%;height:auto"
                       data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid',align:'center',resizable:false" width="20%">序号</th>
                            <th data-options="field:'productid',align:'center',resizable:false" width="30%">标签名称</th>
                            <th data-options="field:'listprice',align:'center',resizable:false" width="25%">热度</th>
                            <th data-options="field:'status',align:'center',resizable:false" width="25%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="http://baidu.com">a</a></td>
                        <td>a</td>
                        <td><button class="easyui-linkbutton" style="width:50px;"data-toggle="modal" data-target="#myModalbj">变更</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="http://baidu.com">a</a></td>
                        <td>a</td>
                        <td><button class="easyui-linkbutton" style="width:50px;"data-toggle="modal" data-target="#myModalbj">变更</button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="easyui-pagination" data-options="
					total: 50,
                    pagesize: 10,
					showPageList: false,
					showRefresh: false,
					displayMsg: ''
				">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 编辑Modal -->
<div class="modal fade" id="myModalbj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">编辑标签信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">序号</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" readonly="readonly">
                        </div>
                        <label for="inputEmail3" class="col-sm-2 control-label">标签名称</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" >
                        </div>
                        <label for="inputEmail3" class="col-sm-2 control-label">热度</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" readonly="readonly">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#myModalbj').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>
</body>
</html>
